
<%= form_with model: @recipe do |f| %>
  <!-- Recipe Name -->
  <fieldset>
    <legend class="step-title">Create Recipe</legend>
    <div class="form-group">
      <%= f.text_field :title, class: "form-control recipe-name" %>
    </div>
  </fieldset>

    <!-- Instructions -->
       <fieldset>
     <legend>Add Instructions</legend>
    <div class="form-group">
      <%= f.text_area :instructions, class: "form-control recipe-instructions", rows: 4 %>
    </div>
  </fieldset>

  <!-- Ingredients by Category -->
    <legend>Add ingredients</legend>
    <% @categories.each do |category| %> <!-- Loop through categories -->
    <% next if category.name == 'Other' %> <!-- Skip this one -->
      <fieldset>
        <legend><%= category.name %></legend> <!-- Display the category name -->
        <div class="form-group">
          <% category.ingredients.sort_by(&:name).each do |ingredient| %> <!-- Loop through ingredients in the category -->
            <div>
              <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, @recipe.ingredients.include?(ingredient), id: "recipe_ingredient_#{ingredient.id}" %>
              <%= label_tag "recipe_ingredient_#{ingredient.id}", ingredient.name %>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>

  <fieldset class="custom-ingredients-section">
  <legend>Other (Custom Ingredients)</legend>

  <% custom_ingredients = Ingredient.where(custom: true, user: current_user.id) %>

  <% if custom_ingredients.any? %>
    <div class="form-group">
      <% custom_ingredients.each do |ingredient| %>
        <div class="justify-content-start">
          <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, @recipe.ingredients.include?(ingredient), id: "custom_ingredient_#{ingredient.id}" %>
          <%= label_tag "custom_ingredient_#{ingredient.id}", ingredient.name %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">You don't have any custom ingredients yet.</p>
  <% end %>
</fieldset>

  <!-- Submit Button -->
  <div class= "form-submit">
    <%= f.submit "Save Recipe", class: "btn-green" %>
  </div>
<% end %>
