<div class= "new-recipe-container">
  <%= link_to "Add new recipe", new_recipe_path, class: "new-recipe" %>
</div>

<%# <div class="recipe-container"> %>

<% if @recipes.present? %>
  <% @recipes.each_with_index do |recipe, index| %>
    <div class="recipe-card justify-content-center d-flex row">

    <div class="header-card">
      <h3 class="recipe-title" style= "max-width: 90%;"><%= recipe.title %></h3>
        <%= link_to recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' }, class: "delete-btn" do %>
      <%= image_tag "icons/close.png", alt: "close", class: "delete-icon" %>
      <% end %>
    </div>

    <div class="ingredients-container">
      <%# <h3 class="ingredient-title">Ingredients :</h3> %>
      <%= image_tag "icons/vegetable-2.png", alt: "vegetables", class: "ingredients-icon" %>
       <span class="ingredient-list">
        <%= recipe.ingredients.map(&:name).join(", ") %>
        </span>
     </div>

      <div class="recipe-link-container">
       <%= image_tag "icons/recipe-book-2.png", alt: "recipe-book", class: "recipe-icon" %>
         <p><%= link_to "See the full recipe", recipe_path(recipe), class: "recipe-link" %></p>
      </div>

  </div>
  <% end %>
<% else %>
  <p>No recipes found</p>
<% end %>

</div>
