<%# <h1 class="title">What's in my fridge?</h1> %>

<div class="fridge-container">
  <% if @fridge.present? %>
    <% if @fridge.ingredients.present? %>
      <%= link_to "Clear My Fridge", clear_fridge_path, method: :delete, data: { confirm: "Are you sure?" }, class: "clear-ingredient-link" %>
    <% end %>
    <%= link_to "Add an ingredient", edit_fridge_path(@fridge), class: "edit-ingredient-link" %>
  <% else %>
    <%= link_to "Add an ingredient", new_fridge_path, class: "new-ingredient-link text-end" %>
  <% end %>
</div>


<% if @fridge&.ingredients&.any? %>
  <div class="kitchen-container">
    <div class="kitchen-ingredients">
      <% grouped_ingredients = @fridge.ingredients.group_by(&:category) %>

      <% grouped_ingredients.each do |category, ingredients| %>
        <div class="category-container">
          <!-- Affichage de l'image de la catégorie -->
          <div class="category-icon">
            <%= image_tag category.icon, alt: "#{category.name} icon", class: "category-icon" if category.icon.attached? %>
            <span class="title-category"><%= category.name %></span> <!-- Affiche le nom de la catégorie -->
          </div>

          <ul class="ingredient-category">
            <% ingredients.each_with_index do |ingredient, index| %>
              <li class="ingredient-item">
                <%= ingredient.name %><%= "," unless index == ingredients.length - 1 %> <!-- Ajoute une virgule sauf après le dernier élément -->
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="null-message">You have no ingredients!</p>
<% end %>



</div>
