<div id="navbar-position" class="navbar navbar-expand-sm navbar">
  <div class="container-fluid navbar-nav d-flex justify-content-center flex-row gap-3 width-100">
    <div id="navbarSupportedContent">
      <ul class="navbar-nav vw-100 d-flex justify-content-center flex-row">

        <% if user_signed_in? %>

           <li class="nav-item">
            <%= link_to random_recipe_path, class: "nav-link" do %>
              <%= image_tag "icons/dice-home5.png", alt: "icon", class: "navbar-icon" %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to recipes_path, class: "nav-link" do %>
               <%= image_tag "icons/recipe2.png", alt: "icon", class: "navbar-icon" %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to my_kitchen_path, class: "nav-link" do %>
            <%= image_tag "icons/fridge2.png", alt: "icon", class: "navbar-icon" %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "nav-link" do %>
              <%= image_tag "icons/logout2.png", alt: "icon", class: "navbar-icon" %>
            <% end %>
          </li>


        <% else %>
         <!-- Lien vers la page de login -->
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
               <%= image_tag "icons/logout.png", alt: "icon", class: "navbar-icon" %>
            <% end %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>
